body{background:#9aafe5;font-size:18px}
.articulos .elementos p{margin:.3em}
.contenido{background:rgba(255,255,255,0.9);display:inline-blpck;height:90%;margin:2em .9em;overflow:hidden;overflow-y:auto;padding:0;text-align:center;width:97.5%;}
.contenido h1{margin:0;width:10em}
form{padding:2em 0;}
form label,form input,form select{font-size:15px}
form input,form select{margin-right:1em}
form .articulos div{margin:.2em;}
form .articulos div label{margin:0 2em 0 7em}
form .articulos div input{margin:0 0 0 4em}
form .firmas{margin:1.5em 0;}
form .firmas div{margin:.5em 0;}
form .firmas div input{margin:0 5em 0 0}
form .firmas div label{margin:0 3em}
header{background:#fff;height:5.5em;margin:.5em;overflow:hidden;width:95%;}
header img{height:80%;margin:.5em .8em;width:97.5%}
nav{background:#000;border-left:15px solid #fff;position:relative;}
nav:before{border-bottom:20px solid transparent;border-left:7px solid #fff;border-top:20px solid transparent;content:"";position:absolute;top:0;left:0}
nav ul{height:40px;line-height:40px;margin:0;padding:0;list-style-type:none;white-space:nowrap;}
nav ul li{float:left;display:block;cursor:pointer;margin:0 3em;}
nav ul li a{font-weight:bold;color:#fff;text-align:center;padding:6px;text-decoration:italic}
nav ul li:hover ul{-ms-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;-webkit-box-sizing:border-box;background:#000;display:block;height:auto;width:8em;text-align:center;}
nav ul li:hover ul li{border-style:none;height:auto;margin:0 .2em;text-align:center;}
nav ul li:hover ul li a{border-right:#008000;margin:0 0;text-align:center}
nav ul li ul{display:none;position:absolute}
